# Git directory
.git

# CI configuration
.github/workflows

# Cargo output
/target

# Frontend build output
client/web/dist

# Frontend dependencies
client/web/node_modules

# Environment variables
.env
.env.*

# SQLite database
*.db
*.db-shm
*.db-wal

# VSCode configuration
.vscode

# App config
config.yml

Dockerfile

.gitignore
