# Build output
/target

# SQLite database
*.db
*.db-shm
*.db-wal

# Environment variables
.env
.envrc

# IDE config
.vscode/

# App config
/config.yml

# Log files
*.log

# Cache directory
/cache

# Data directory
/data

# Media directory
/media

# Import directory
/import
