name: cast_framework
description: "A new Flutter plugin project."
version: 0.0.1
homepage:

environment:
  sdk: ">=3.10.0 <4.0.0"
  flutter: ">=3.3.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  pigeon: ^26.1.5

flutter:
  plugin:
    platforms:
      android:
        package: dev.hasali.zenith.cast_framework
        pluginClass: CastFrameworkPlugin
        dartPluginClass: CastFrameworkAndroid
