name: video_player
description: A new Flutter plugin project.
version: 0.0.1
homepage:
publish_to: none

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=2.11.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  ffi: ^2.0.1
  flion:
    git:
      url: https://github.com/hasali19/flion.git
      ref: 573b2b07764d1c4a3c13a20618ca6df3ae1891e6
      path: packages/flion
  flutter_hooks: ^0.21.3+1
  http: ^1.1.0
  plugin_platform_interface: ^2.1.2
  web: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.hasali.zenith.video_player
        pluginClass: VideoPlayerPlugin
        dartPluginClass: VideoPlayerAndroid
      flion:
      web:
        pluginClass: VideoPlayerWeb
        fileName: video_player_web.dart
      windows:
        pluginClass: VideoPlayerPlugin
        dartPluginClass: VideoPlayerWindows
